@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "OpenSans", Arial, sans-serif;
}

.header {
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
}

.header-container {
  max-width: 1170px;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 15px;
}

.header::after {
  content: '';
  background-color: rgb(0, 0, 0);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  height: 100%;
  padding-top: 28px;
}

.header-logo {
  width: 180px;
}

.burger-menu {
  display: none;
}

.header-menu-items {
  color: rgb(255, 255, 255);
  display: flex;
  font-weight: normal;
  font-size: 13px;
  text-transform: uppercase;
  align-items: flex-end;
}

.header-menu-item {
  padding-left: 35px;
  padding-bottom: 15px;
}

.header-menu-item:hover {
  text-decoration: underline;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: inherit;
  color: inherit;
}

.title {
  box-sizing: content-box;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.7;
  width: 690px;

  margin: 99px auto 0;
  padding-bottom: 124px;

  position: relative;
  z-index: 1;
}

.trands-blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.trand-block {
  width: calc(25% - 3.75px);
  height: 320px;
  background-color: rgba(45, 47, 47, 0.43);
  position: relative;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
}

.trand-block::after {
  content: '';
  background-color: rgb(0, 0, 0);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.trand-block-garden {
  background-image: url("../images/trend1.jpg");

}

.trand-block-cheese {
  background-image: url("../images/trend2.jpg");
}

.trand-block-mountains {
  background-image: url("../images/trend3.jpg");
}

.trand-block-vitamin {
  background-image: url("../images/trend4.jpg");
}

.trand-block-text {
  border: 2px solid #b59f5b;
  margin: 20px 25px;
  padding: 30px 35px;
  font-size: 20px;
  position: relative;
  z-index: 2;
  width: 100%;
}

.trands-heading {
  text-align: center;
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 700;
  position: relative;
}

.trands-heading:before {
  content: '';
  box-sizing: content-box;
  background-color: rgb(225, 217, 189);
  width: 74px;
  height: 3px;
  position: absolute;
  top: 30px;
  left: calc(50% - 37px);
}

.trand-tags {
  color: #b59f5b;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 700;

  list-style-type: none;
}

.trand-tag {
  padding-right: 10px;
}

.trand-tag:hover {
  text-decoration: underline;
}

.trand-heading {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}

.trand-block-text:hover > .trand-heading {
  color: #b59f5b;
}

.main-section {
  margin: 50px auto 0;
  padding: 0 15px;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.article {
  display: flex;
  width: 780px;
  margin-top: 55px;
}

.first-article {
  margin-top: 10px;
}

.article-image-container {
  width: 100%;
  height: 300px;
}

.article-content {
  margin-left: 30px;
  font-size: 15px;
}

.article-tags {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  padding-top: 0;
  margin: 0;
  text-transform: uppercase;
  justify-content: flex-start;
}

.article-tag {
  color: rgb(181, 159, 91);
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  padding: 0 20px 0 0;
  vertical-align: text-top;
}

.article-tag:hover {
  text-decoration: underline;
}


.article-heading {
  margin: 0;
  padding: 5px 0;
  text-transform: uppercase;
  font-size: 19px;
  letter-spacing: 0.8px;
  line-height: 1.3;
}

.article-heading:hover {
  color: rgb(181, 159, 91);
}

.article-info {
  display: flex;
  font-size: 12px;
  color: rgb(135, 135, 135);
  margin-top: 24px;
}

.text {
  margin-bottom: 11px;
}


.article-info-autor {
  color: black;
  margin-left: 12px;
}

.article-text {
  margin-top: 45px;
  line-height: 1.5;
}

.aside {
  display: flex;
  flex-direction: column;
  width: 272px;
  box-sizing: border-box;
}

.aside-heading {
  text-align: center;
  text-transform: uppercase;
  margin-top: 8px;
  font-size: 14px;
  position: relative;
}

.aside-heading:before {
  content: '';
  box-sizing: content-box;
  background-color: rgb(225, 217, 189);
  width: 60px;
  height: 3px;
  position: absolute;
  top: 28px;
  left: calc(50% - 30px);
}

.news-container {
  display: flex;
  margin-top: 12px;
  padding: 0;
  box-sizing: content-box;
}

.news-first-container {
  margin: 37px 0 0;
}

.news-image-container {
  width: 70px;
  height: 80px;
  box-sizing: border-box;
}

.news-image {
  padding-top: 5px;
  width: 70px;
  height: 75px;
  font-size: 10px;
}

.news-text {
  margin: 2px 0 0 18px;
  line-height: 1.3;
}

.news-date {
  font-size: 12px;
  color: rgb(135, 135, 135);
}

.news-heading {
  text-transform: uppercase;
  font-size: 14px;
}

.news-heading:hover {
  color: rgb(181, 159, 91);
}

.search-group {
  margin-top: 56px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 50px;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.search-row {
  display: block;
  width: 222px;
  height: 48px;
  padding-left: 17px;
  padding-right: 17px;
  background-color: #f4f7f6;
  border: 0;
  color: rgb(112, 113, 113);
  cursor: pointer;
}

.search-row:focus {
  outline: 1px solid rgb(181, 159, 91);
  outline-offset: -1px;
}

.search-button {
  display: block;
  box-sizing: border-box;
  height: 48px;
  width: 47px;
  background-image: url('../svg/search.svg');
  background-size: 40%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgb(181, 159, 91);
  border: 0;
  text-align: center;
  padding-top: 15px;
  cursor: pointer;
}

.search-button:hover {
  background-color: rgb(50, 50, 50);
}

.subscribe-group {
  margin-top: 35px;
  margin-bottom: 45px;
}

.subscribe-row {
  display: block;
  width: 270px;
  height: 48px;
  padding-left: 17px;
  padding-right: 17px;
  background-color: #f4f7f6;
  border: 0;
  color: rgb(112, 113, 113);
  cursor: pointer;
}

.subscribe-row:focus {
  outline: 1px solid rgb(181, 159, 91);
  outline-offset: -1px;
}

.subscribe-button {
  margin-top: 20px;
  margin-left: 0;
  padding-left: 0;
  box-sizing: border-box;
  height: 48px;
  width: 270px;
  color: white;
  background-color: rgb(181, 159, 91);
  border: 0;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.subscribe-button:hover {
  background-color: rgb(50, 50, 50);
}

.aside-tags {
  margin-top: 38px;
  margin-left: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  margin-bottom: 40px;
}

.aside-tag {
  box-sizing: content-box;
  border: 3px solid rgb(237, 237, 237);
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  padding: 4px 13px 4px;
  margin: 0;
  margin-right: 6px;
  margin-bottom: 7px;
}

.aside-tag:hover {
  border-color: rgb(181, 159, 91);
}

.aside-topics {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
}

.aside-topic {
  border-bottom: 1px solid rgb(237, 237, 237);
  height: 47px;
  display: flex;
  align-items: center;
  color: black;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.8px;
}

.aside-topic:hover {
  color: rgb(181, 159, 91);
}

.topic-number {
  color: rgb(181, 159, 91);
  font-weight: bold;
  font-size: 12px;
  padding-bottom: 5px;
  padding-left: 3px;
}

.products-heading {
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 700;
  position: relative;
}

.products-heading:before {
  content: '';
  box-sizing: content-box;
  background-color: rgb(225, 217, 189);
  width: 74px;
  height: 3px;
  position: absolute;
  top: 30px;
  left: calc(50% - 37px);
}

.products-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: space-between;
}

.products-block {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 0 20px 50px;
}

.products-info {
  outline: 2px solid #b59f5b;
  outline-offset: 25px;
  flex-grow: 1;
}

.product-name {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.product-description {
  font-size: 15px;
}

.products-link {
  color:#b59f5b;
  display: inline;
}

.product-description:hover > .products-link {
  text-decoration: underline;
}

.product-text {
  display: inline;
}

.product-buy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 5px;
}

.product-buy-prices {
  font-weight: 700;
}

.product-buy-price-old {
  font-size: 14px;
  text-decoration: line-through;
}

.product-buy-price {
  font-size: 20px;
}

.product-buy-button {
  background-color: #b59f5b;
  height: 45px;
  width: 140px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  padding-top: 10px;
}

.product-buy-button:hover {
  background-color: rgb(50, 50, 50);
  cursor: pointer;
}

.footer {
  width: 1170px;
  margin: 90px auto;
}

.socials {
  display: flex;
  padding: 27px 0 27px 14px;
  background-color: rgb(244, 247, 246);
  justify-content: center;
}

.social-link {
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  margin-right: 16px;

}

.social-link-dribbble {
  background-image: url("../svg/001-dribbble.svg");
}

.social-link-pinterest {
  background-image: url("../svg/002-pinterest.svg");
}


.social-link-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}


.social-link-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.copyrights {
  display: block;
  text-align: center;
  margin-top: 72px;
  margin-bottom: 70px;
  padding-left: 6px;
  font-size: 12px;
  font-weight: 700;
  color: rgb(173, 173, 173);
}


/* POPUP */
/* .popup-mask {
  display: none;
}

.popup {
  display: none;
} */

/* POPUP FULL CODE*/
.popup-mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  box-sizing: border-box;
  display: inline-block;
  width: 390px;
  height: 590px;
  background-color: #ffffff;
  position: absolute;
  top: 245px;
  left: calc(50% - 195px);
  z-index: 6;
  padding-left: 30px;
}

.popup::after {
  content: '';
  position: absolute;
  background-image: url("../svg/form-x.svg");
  background-size: 20px;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  top: -28px;
  right: -2px;
  cursor: pointer;
}

.popup-heading {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0px;
  margin-bottom: 30px;
  margin-top: 48px;
  position: relative;
  text-align: left;
  padding-left: 100px;
}

.popup-heading:before {
  content: '';
  box-sizing: content-box;
  background-color: rgb(225, 217, 189);
  width: 60px;
  height: 3px;
  position: absolute;
  top: 35px;
  left: 140px;
}


.popup-text-option {
  font-size: 13px;
  display: block;
  margin-top: 35px;
}

.popup-input {
  color: rgb(112, 113, 113);
  background-color: #f4f7f6;
  border: 0;
  padding-left: 17px;
  padding-right: 17px;
  height: 45px;
  width: 330px;
}

.popup-input-option {
  
  background-image: url("../svg/form-arrows.svg");
  background-size: 10px;
  background-position: right 10px center;
  background-repeat: no-repeat;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  margin-top: 10px;
}

.popup-input-text {
  margin-top: 2px;
  padding-top: 12px;
  padding-left: 20px;
  resize: none;
}

.popup-text-radio {
  font-size: 13px;
  display: block;
  margin-top: 35px;
}

.popup-radio {
  font-size: 13px;
  display: inline-block;
}

.popup-radio-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.popup-radio::before {
  content: '';
  background-image: url("../svg/form-empty-circle.svg");
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 18px;
}

.popup-radio-button:checked + .popup-radio::before {
  content: '';
  background-image: url("../svg/form-circle.svg");
  display: inline-block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 20px;
}

.popup-text {
  font-size: 13px;
  display: block;
  margin-top: 25px;
  margin-bottom: 7px;
  max-width: 320px;
}

.popup-input-text {
  height: 130px;
  vertical-align: top;
}

.popup-button {
  margin-top: 25px;
  background-color: #b59f5b;
  height: 45px;
  width: 330px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  padding-top: 5px;
  border: 0;
}



/* NO DESKTOP */

@media (max-width: 1200px) {

  .burger-menu {
    display: block;
    margin-top: 55px;
    margin-right: 20px;
  }

  .header-logo {
    width: 160px;
    margin-top: 45px;
    margin-left: 10px;
  }

  .header-menu-items {
    display: none;
  }

  .trands-heading {
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 35px;
  }

  .trand-block-text {
    margin: 15px;
  }

  .trand-heading {
    font-size: 17px;

  }

  .article {
    display: flex;
    flex-direction: column;
    Width: calc(100% - 5px);
    position: relative;
    padding-bottom: 20px;
    margin-top: 40px;
    border-bottom: 3px solid #ededed;
  }

  .first-article {
    margin-top: 10px;
  }

  .article-image-container {
    height: fit-content;
  }

  .article-content {
    margin-left: 0;
  }

  .article-tags {
    padding-top: 5px;
  }


  .footer {
    width: 100%;
  }
}


/* TABLET */




@media (max-width: 1200px) and (min-width: 641px) and (orientation: portrait) {



  .title {
    font-size: 40px;
    width: 650px;
    margin: 80px auto 0;
    padding-bottom: 115px;
    line-height: 1.4;
  }

  .trand-block {
    width: calc(50% - 3.5px);
    height: 240px;
    margin-bottom: 7px;
  }

  .main {
    width: calc(100% - 272px - 30px);
  }

  .main-section {
    margin-top: 30px;
    padding: 0 25px;
    width: 100%;
  }

  .article-image {
    width: 100%;
    height: auto;
  }

  .article-heading {
    font-size: 17px;
    margin-top: 5px;
  }

  .article-text {
    margin-top: 30px;
  }

  .last-article {
    border-bottom: none;
  }

  .products-container {
    padding: 0 30px 0 40px;
  }


  .products-block {
    margin-bottom: 100px;
  }

  .products-heading {
    font-size: 18px;
    margin-top: 40px;
  }

  .products-block:nth-child(even) {
    margin-left: 30px;
  }

  .products-heading:before {
    width: 60px;
    left: calc(50% - 30px);
  }

  .aside-heading:before {
    width: 70px;
    left: calc(50% - 35px);
  }

  .trands-heading:before {
    width: 60px;
    left: calc(50% - 30px);
  }

  .popup {
    top: 233px;
  }

  .popup-heading {
    letter-spacing: -1px;
  }

  .popup-text-radio {
    margin-top: 30px;
  }

  .popup-radio::before {
    width: 25px;
    height: 25px;
    background-size: 25px;
  }

  .popup-radio {
    margin-top: 8px;
    margin-right: 25px;
  }
  
  .popup-radio-button:checked + .popup-radio::before {
    width: 25px;
    height: 25px;
    background-size: 23px;
  }

  .popup::after {

    background-size: 25px;
    width: 25px;
    height: 25px;
    top: -35px;
    right: 0;
  }
}

@media (max-width: 1200px) and (min-width: 641px) and (orientation: landscape) {
  .trand-block {
    width: calc(25% - 3.75px);
  }
}


/* MOBILE */


@media (max-width: 640px) and (orientation: portrait) {


  .title {
    font-size: 26px;
    margin: 25px auto 0;
    width: 300px;
    line-height: 1.4;
    padding-bottom: 210px;
  }

  .header-logo {
    width: 280px;
    margin-top: 28px;
  }

  .header-menu-items {
    display: none;
  }

  .header-content {
    display: flex;
    justify-content: center;
  }

  .trand-block {
    width: 100%;
    height: 230px;
    margin-bottom: 4px;
  }

  .main-section {
    flex-direction: column;
    flex-wrap: wrap;

  }

  .main-section {
    margin-top: 30px;
    padding: 0 25px;
    width: 100%;
  }

  .main {
    width: 100%;
    margin-bottom: 30px;
  }


  .article-image {
    width: calc(100% - 55px);
    height: auto;
  }

  
  .article-heading {
    font-size: 17px;
    margin-top: 5px;
  }

  .article-info {
    margin-top: 7px;
  }

  .article-text {
    margin-top: 15px;
    line-height: 1.4;
    font-size: 14px;
  }

  .aside {
    width: 100%;
  }

  .aside-heading {
    margin-top: 5px;
    font-size: 16px;
  }

  .aside-tags {
    margin-bottom: 20px;
  }

  .products-container {
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;

  }

  .products-heading {
    font-size: 18px;
  }

  .product-img {
    box-sizing: border-box;
    width: 90%;
    height: fit-content;
  }


  .products-block {    
    margin: 0 auto 60px;
  }

  .products-container {
    
    flex-wrap: wrap;
    width: 100%;
  }

  .search-group {
    margin-bottom: 25px;
  }

  .search-row { 
    width: 100%;
  }

  .news-search {
    width: 100%;
  }

  .aside-section {
    width: 100%;
  }

  .subscribe-group {
    width: 100%;
  }

  .subscribe-row {
    width: 100%;
  }
  
  .subscribe-button {
    width: 100%;
  }

  .products-heading:before {
    width: 30%;
    left: 35%;
  }

  .aside-heading:before {
    width: 30%;
    left: 35%;
  }

  .trands-heading:before {
    width: 30%;
    left: 35%;
  }

  .popup {

    max-width: 295px;
    height: 490px;
    top: 60px;
    left: calc(50% - 150px);
    padding-left: 22px;
  }

  .popup::after {
    background-size: 27px;
    width: 27px;
    height: 27px;
    top: -30px;
  }

  .popup-heading {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -2px;
    margin-bottom: 30px;
    margin-top: 22px;
    padding-left: 80px;
  }

  .popup-heading:before {
    width: 60px;
    height: 3px;
    top: 30px;
    left: 90px;
  }

  .popup-text {
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: 15px;
  }

  .popup-input {
    height: 30px;
    width: 245px;
    margin-bottom: 25px;
  }

  .popup-radio {
    margin-right: 15px;
  } 
  

  .popup-radio::before {
    width: 30px;
    height: 30px;
    background-size: 22px;
  }

  .popup-radio-button:checked + .popup-radio::before {
    width: 30px;
    height: 30px;
    background-size: 23px;
  }

  .popup-input-text {
    height: 90px;
  }

  .popup-button {
    width: 245px;
  }

  .popup-text-radio {
    margin-top: 10px;
  }
  
  .popup-input-text {
    height: 110px;
  }

  .popup-button {
    margin-top: 2px;
    font-size: 13px;
  }
}


@media (max-width: 640px) and (orientation: landscape) {
  .trand-block {
    width: 50%;
  }
}




